* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    height: 100%;
    font-family: 'Poppiens', sans-serif;
    margin: 0;
    overflow: hidden;
}
/* ========================Password================================ */
/* pssword popup style */
.popup_container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color:rgb(0, 0, 0, 0.5);
}
.popup_container.active {
    display: flex;
}
/* Opnening button of Registration */
#open_popup {
    border: none;
    background-color:rgb(42, 42, 49);
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
/* Closing button of popup Registation */
.close_popup {
    position: relative;
    top: 35px;
    left: 89%;
    border: none;
    color: rgb(15, 12, 12);
    font-size: 28px;
    background-color: #fff;
    margin: 0;
    cursor: pointer;
    
}
.center {
    border-radius: 10px;
    background-color: white;
    padding: 40px 40px 30px 40px;
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.3);
}
#name {
    background-color: rgba(209, 206, 201, 0.534);
    width: 250px;
    height: 40px;
    border: 0px;
    padding-left: 10px;
    margin-bottom: 10px;
}
#password {
    background-color:rgba(209, 206, 201, 0.534);
    border: 0px;
    width: 250px;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 10px;
}
#submit {
    background-color: rgb(42, 42, 49);;
    border: 0px;
    width: 100%;
    height: 40px;
    color:floralwhite;  
    cursor: pointer;
}
p {
    font-size: 10px;
    text-align: center;
    margin-top: 15px;
    color: red;
}
.bold {
    font-weight: bold;
}
/* ========================News================================ */
#news {
    border: none;
    background-color:rgb(42, 42, 49);
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
.news {
    position: absolute;
    transition: tarnsform 0.3s ease;
    padding: 10px 20px;
    background-color: tomato;
    bottom: 50%;
}
/*======================= Attention ============================= */
.attention {
    position: absolute;
    transition: tarnsform 0.3s ease;
    padding: 10px 25px;
    background-color: rgb(42, 4, 112);
    bottom: 75%;
    border-radius: 12px;
    margin: 0;
}
    
#btn_opne {
    position: relative;
    cursor: pointer;
    top: 35px;
    left: 20px;
    padding: 0px 12px;
    font-size: 20px;
    background-color: rgb(42, 42, 49);
    border: none;
}
/* ========================Burger Menu and Menu================================ */
#container_menu {
    width: 100%;
    height: 15%;
    font-size: 18px;
    background-color: rgb(42, 42, 49);
}
#ul-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-right: 0;
    list-style-type: none;
    color: #fff;
}
#search {
    padding: 5px 8px;
    background-color: silver;
    border-radius: 10px;
    border: none;
}
.fa-search {
    position: relative;
    left: 89%;
    top: 3px;
    z-index: 0;
    color: rgb(167, 243, 243);
    padding: 4px;
    background-color: rgb(73, 102, 91);
    border-radius: 0 12px 12px 0;
}
.fa-bars {
    color: silver;
}


nav {
    position: absolute;
    top: 15%;
    left: 0;
    height: 95%;
    background-color: rgb(42, 42, 49);
    padding: 12px;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}
nav.active {
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    padding: 20px 5px;
}
a {
    color: #fff;
    text-decoration: none;
}

/* ======================= Smailey ============================ */
 /* .smailey {
    position: fixed;
    top: -1vh;
    transform: translateY(0);
    animation: fall 3s linear forwards;
    font-size: 32px;
}
@keyframes fall{
    to {
        transform: translateY(105vh);
    }
} */

/*====================== Background Changer Random color ======================= */

/* #bg_change_random {
   position: relative;
   background-color: inherit;
   border: none;
   font-size: 24px;
   color: #fff;
   padding: 0px 6px 0px 6px;
   top: 0;
   right: -3%;
   cursor: pointer;
} */
/* All buttons in the page will has focus animation like a vibiration */
button:active {
    transform: translate(0px, 1px);
}

/*====================== Background Change Color to Dark ======================= */
#bg_change_dark {
    position: relative;
    background-color: inherit;
    border: none;
    font-size: 24px;
    color: #fff;
    padding: 0px 6px 0px 6px;
    top: 0;
    right: -3%;
    cursor: pointer;
 }
body.dark {
    background-color: #1f1f1f;
    transition: background 0.3s linear , color 0.3s linear;
 }

 /* ============================ carusel container ============================ */
/* 
 .corusel_container {
    height: 250px; 
    width: 250px;
    overflow: hidden;
 }
 .imgs_conatiner {
    display: flex;
    transition: transform 0.3s linear;
    transform: translateX(0);
 }
 img {
    object-fit: cover;
    width: 250px;
    height: 250px;
 } */

 /* ===================== ZOOM img transform origin =====================  */
 /* #zoom_container {
    width: 500px;
    height: 500px;
    overflow: hidden;
 }
 .zoom_img {
    transform-origin: center center;
    object-fit: cover; 
    width: 100%;
    height: 100%;
 } */